In [77]:
# set {}
# not support duplicate
# unindexing
# changeable or unchangeable 

# if methods update value in base set it is mutable [add(),update()]
# if methods do not update in base set it is immutable [union(),intersection()] 

#The values True and 1 are considered the same value in sets, and are treated as duplicates
#The values False and 0 are considered the same value in sets, and are treated as duplicates

'\ndue to methods(union,intersection) set is immutble because methods create new set and store output \nthat not affect base set, while Add, remove affect base set so in this case set is mutable\n'

In [39]:
set1 = {"Hello", "Hi", 1,2,3,4,"Java","Java"}

In [40]:
print(set1)

{'Hello', 1, 2, 3, 4, 'Hi', 'Java'}

In [41]:
set2 = {"Yellow","Pink"}

In [42]:
set2.add("Magenta")                     #add element at random location

In [43]:
set2

{'Magenta', 'Pink', 'Yellow'}

In [44]:
print(set2)

{'Magenta', 'Pink', 'Yellow'}

In [45]:
set2.discard("Pink")                    #remove any spacific element

In [46]:
set2

{'Magenta', 'Yellow'}

In [47]:
set2.pop()                              #remove random element

'Magenta'

In [48]:
set2.add("Pink")
set2.add("Magenta")

In [49]:
set2

{'Magenta', 'Pink', 'Yellow'}

In [50]:
set2.discard("Dhruv")        # not give error

In [51]:
set2.remove("Dhruv")         # give error

KeyError: 'Dhruv'

In [52]:
set2.clear()          # not delete set, it gives empty set

In [53]:
set2           #empty set denoted with () and empty dictionary denoted with {}

set()

In [54]:
del set2              #delete whole list variable

In [67]:
set1 = {3,4,1,1,2,7,8,9}

In [68]:
set2 = {11,56,23,11,1,2,3,4,89}

In [57]:
set1.union(set2)                  #give all values from both the set

{1, 2, 3, 4, 7, 8, 9, 11, 23, 56, 89}

In [58]:
set1.intersection(set2)          #gives common values from both the set

{1, 2, 3, 4}

In [59]:
set1.intersection_update(set2)       #update the value in set1 
set1

{1, 2, 3, 4}

In [63]:
set1.difference(set2)               #values that are present in set1 but not in set2

{7, 8, 9}

In [64]:
set1.symmetric_difference(set2)              #create new set (immutable)

{7, 8, 9, 11, 23, 56, 89}

In [65]:
set1.symmetric_difference_update(set2)        #update the base set1 (mutable)

In [66]:
set1

{7, 8, 9, 11, 23, 56, 89}

In [69]:
set1 = {1,2,3,4}

In [70]:
set2 = {7,8,9,10,11,1,2,3,4}

In [71]:
set1.issubset(set2)         #check wheather set1 is present in set2 or not

True

In [72]:
set1.isdisjoint(set2)       #intersection is null than it is true

False

In [73]:
set1 = {1,2,3,4}

In [74]:
set1.issuperset(set2)

False

In [75]:
set2.issuperset(set1)

True

In [76]:
set2.issuperset(set2)

True

In [78]:
list1 = []

In [79]:
for i in range(1,11):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
#list comprehention, we must have to declare first output before for loop
list2 = [i for i in range(1,11)]

In [95]:
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
list1 = [1,2,3,4]                            #add two list and save in 3rd list
list2 = [5,6,7,8]
list3 = []

for i in range(len(list1)):
    list3.append(list1[i]+list2[i])
    
print(list3)

[6, 8, 10, 12]

In [97]:
zip(list1,list2)

In [98]:
for i in zip(list1,list2):           #zip is used to access index
    print(i)

(1, 5)
(2, 6)
(3, 7)
(4, 8)

In [99]:
for i in zip(list1,list2):
    print(sum(i))

6
8
10
12

In [100]:
list3 = [1,2,3,4]                            #addition of multiple list best way
for i in zip(list1,list2,list3):
    print(sum(i))

7
10
13
16

In [101]:
list1 = [1,2,1,5,6,7,7,8,9]                     #removing duplicacy from list
print("List before removing duplicate")
print(list1)

print("set after removing duplicate")
list2 = set(list1)
print(list2)

print("List without duplicate")
list3 = list(list2)
print(list3)

List before removing duplicate
[1, 2, 1, 5, 6, 7, 7, 8, 9]
set after removing duplicate
{1, 2, 5, 6, 7, 8, 9}
List without duplicate
[1, 2, 5, 6, 7, 8, 9]

In [102]:
list4 = [sum(i) for i in zip(list1,list2,list3)]           #addition of three lists 

print(list4)

[3, 6, 11, 17, 20, 23, 25]