In [ ]:
# Tuple () Brackets are optional

In [1]:
fruits = "Mango","Apple","Water Malon","Graps"           #brakets are optional 
print(fruits)
print(type(fruits))

('Mango', 'Apple', 'Water Malon', 'Graps')
<class 'tuple'>

In [73]:
a = ("Hello")                     #print type = string
b = ("Hello",)                    #print type = tuple
print(a)
print(type(a))         
print(type(b))

Hello
<class 'str'>
<class 'tuple'>

In [6]:
#only two methods are in tuple
fruits.count("Apple")

1

In [8]:
fruits.index("Graps")

3

In [12]:
student = {"Name":"Dhruv",                     #creating dictionary
           "Age":21,                           #key should be unique
           "City":"Vadodara",
           "Course":"Data Science",
           "SName":"Darshit"
          }

In [13]:
print(student)

{'Name': 'Dhruv', 'Age': 21, 'City': 'Vadodara', 'Course': 'Data Science', 'SName': 'Darshit'}

In [14]:
student["Name"]          #accessing members of dictionary

'Dhruv'

In [15]:
student["Age"]

21

In [16]:
student["City"] = "Ahmedabad"        #changable (same as update)

In [17]:
print(student)

{'Name': 'Dhruv', 'Age': 21, 'City': 'Ahmedabad', 'Course': 'Data Science', 'SName': 'Darshit'}

In [18]:
student.get("Name")             #accessing dictionary

'Dhruv'

In [19]:
student.keys()                   #list all keys

dict_keys(['Name', 'Age', 'City', 'Course', 'SName'])

In [20]:
student.values()                 #list all values

dict_values(['Dhruv', 21, 'Ahmedabad', 'Data Science', 'Darshit'])

In [21]:
student.items()                  #list all keys and values

dict_items([('Name', 'Dhruv'), ('Age', 21), ('City', 'Ahmedabad'), ('Course', 'Data Science'), ('SName', 'Darshit')])

In [22]:
student.pop("SName")                  #we have to pass key in argument

'Darshit'

In [23]:
student

{'Name': 'Dhruv', 'Age': 21, 'City': 'Ahmedabad', 'Course': 'Data Science'}

In [24]:
student.popitem()                 #default remove last key and value pair

('Course', 'Data Science')

In [25]:
student

{'Name': 'Dhruv', 'Age': 21, 'City': 'Ahmedabad'}

In [26]:
student.update("Number":8155809591)        #not update  Error

SyntaxError: invalid syntax (2312328422.py, line 1)

In [27]:
student.update({"Number":8155809591})     #we have to write {} when we use update method

In [28]:
student

{'Name': 'Dhruv', 'Age': 21, 'City': 'Ahmedabad', 'Number': 8155809591}

In [29]:
student.update({"City":"Surat","Course":"Data Eng"})    #multiple update

In [30]:
student

{'Name': 'Dhruv',
 'Age': 21,
 'City': 'Surat',
 'Number': 8155809591,
 'Course': 'Data Eng'}

In [31]:
#Returns the value of the specified key. If the key does not exist: 
#insert the key, with the specified value
student.setdefault("Age",25)

21

In [32]:
student

{'Name': 'Dhruv',
 'Age': 21,
 'City': 'Surat',
 'Number': 8155809591,
 'Course': 'Data Eng'}

In [34]:
student.setdefault("State","Guj")

'Guj'

In [35]:
student

{'Name': 'Dhruv',
 'Age': 21,
 'City': 'Surat',
 'Number': 8155809591,
 'Course': 'Data Eng',
 'State': 'Guj'}

In [36]:
student.fromkeys("Name")

{'N': None, 'a': None, 'm': None, 'e': None}

In [37]:
keys = ["One","Two","Three"]
values = [1,2,3]

In [38]:
dic = {}

In [39]:
#fromkeys(Key,Value)             # follow this argumets
dic.fromkeys(keys,values)        # Returns a dictionary with the specified keys and value

{'One': [1, 2, 3], 'Two': [1, 2, 3], 'Three': [1, 2, 3]}

In [41]:
#creating dictionary with dict keyward 
x = dict (Name = "Dhruv", Age = 22, City = "Vadodara")

In [42]:
x

{'Name': 'Dhruv', 'Age': 22, 'City': 'Vadodara'}

In [70]:
p = [1,2,3,4,5]
q = []

for i in p:
    sq = i*i
    q.append(sq)
    
print(q)

[1, 4, 9, 16, 25]

In [44]:
num_dict = { i : i**2 for i in range(1,11)}      #dictionary comprehention

In [45]:
print(num_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [47]:
list1 = [1,2, [1,2, [1,2]], 6, 7, 8]          #nested list

In [49]:
list1[0]

1

In [50]:
list1[2][1]                #accessing nested list

2

In [51]:
list1[2][2][1]

2

In [52]:
x =  { "Student1" : {"Name" : "Dhruv", "Age" : 21},             #creating nested dictionary
       "Student2" : {"Name" : "Darshit", "Age" : 22}
    }

In [53]:
x

{'Student1': {'Name': 'Dhruv', 'Age': 21},
 'Student2': {'Name': 'Darshit', 'Age': 22}}

In [54]:
y = {"One" : [1,2,3,4],
     "Two" : [4,5,6,7]
    }

In [55]:
y

{'One': [1, 2, 3, 4], 'Two': [4, 5, 6, 7]}

In [59]:
y["One"][3]              #accessing nested dictionary

4

In [60]:
# functions in Python
def add(a,b):
    print(a+b)

In [61]:
add(12,67)                   #function calling

79

In [62]:
def Display():                # non parametric function
    print("Hello my First Function...")
    
Display()

Hello my First Function... non parametric function

In [63]:
def add(a=10,b=20):   #default arguments
    print(a+b)

add()                 #not need to pass arguments
add(20,20)            #we can change parameters also

30
40

In [69]:
#taking input from user
#input function by default takes string input 
a = input("Enter the values of a : ")

Enter the values of a : 12

In [66]:
b = input("Enter the values of b : ")

Enter the values of b : 34

In [67]:
a+b

'1234'

In [68]:
type(a)

str