In [1]:
name = "Dhruv"
age = 21

In [2]:
print("Hello My name is" + name + "and age is" + age + "years old")

TypeError: can only concatenate str (not "int") to str

In [3]:
print("Hello My name is" + name + "and age is" , age , "years old")

Hello My name isDhruvand age is 21 years old

In [4]:
print("Hello My name is %s and age is %d years old " %(name,age))

Hello My name is Dhruv and age is 21 years old

In [5]:
print("Hello My name is {} and age is {} years old".format(name,age))

Hello My name is Dhruv and age is 21 years old

In [6]:
#after 3.6 version 
print(f"Hello My name is {name} and age is {age} years old")

Hello My name is Dhruv and age is 21 years old